.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl
test/cordic/sim_build
test/cordic/__pycache__/
test/cordic/results.xml
test/cordic/user_config.tcl
test/triangle/sim_build
test/triangle/__pycache__/
test/triangle/results.xml
test/triangle/user_config.tcl
test/square_puls/sim_build
test/square_puls/__pycache__/
test/square_puls/results.xml
test/square_puls/user_config.tcl
